.emptyBrown {
  background-color: rgb(86, 61, 41);
}

.emptyWhite {
  background-color: rgb(236, 199, 140);

}

.kingWhite {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
}

.kingWhite::before {
  content: "♕";
  font-size: 32px;
  color: gold;
}

.kingBlack {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
}

.kingBlack::before {
  content: "♕";
  font-size: 32px;
  color: gold;
}
.captureWhite {
  background-color: red ;
}

.pieceBlack {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
}

.pieceWhite {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
}

.possibleMove {
  background-color: rgb(89, 255, 0);
}